<div>
 <h1>Categoria</h1><button class="btn btn-primary">Nueva Categoria</button>
</div>
<br/>
<div>    
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" *ngFor="let column of columnas" style="text-align: center">{{ column }}</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of lista; let e = index">
        <th scope="row">{{ e + 1 }}</th>
        <td>{{ element.nombreCategoria }}</td>
        <td>{{ element.descripcionCategoria }}</td>
        <td> 
          <button class="btn btn-warning"> Editar </button> |
          <button class="btn btn-danger"> Eliminar </button>
        </td>
      </tr>      
    </tbody>
  </table>
</div>